// 🌐 Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

// 📂 Import các thư viện CSS bên ngoài nếu cần
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-select-bs5/css/select.bootstrap5.css";

@import "@fortawesome/fontawesome-free/css/all.min.css";

// 🎨 Custom CSS

:root {
    --bs-body-font-family: "Roboto", sans-serif;
    --white: #ffffff;
    --black: #{$neuture-950};
    --success: #{$success-500};
    --danger: #{$danger-500};
    --warning: #{$warning-500};
    --background: var(--white);
    --foreground: #{$neuture-950};
    --muted: #{$neuture-100};
    --muted-foreground: #{$neuture-500};
    --card: var(--white);
    --card-foreground: #{$neuture-950};
    --popver: var(--white);
    --popver-foreground: #{$neuture-950};
    --border: #{$neuture-200};
    --input: #{$neuture-200};
    --primary: #{$primary-500};
    --primary-foreground: #{$primary-50};
    --secondary: #{$secondary-500};
    --secondary-foreground: #{$secondary-50};
    --cat-depth: 0;
    --background-main: #{$neuture-50};
}

[data-theme="dark"] {
    --background: #{$neuture-900};
    --foreground: #{$neuture-50};
    --muted: #{$neuture-800};
    --muted-foreground: #{$neuture-400};
    --card: #{$neuture-950};
    --card-foreground: #{$neuture-50};
    --popver: #{$neuture-950};
    --popver-foreground: #{$neuture-50};
    --border: #{$neuture-700};
    --input: #{$neuture-700};
    --primary: #{$primary-500};
    --primary-foreground: #{$primary-50};
    --secondary: #{$secondary};
    --secondary-foreground: #{$secondary-50};
    --background-main: #{$neuture-950};
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: normal;
}

table.table.dataTable > :not(caption) > * > * {
    background-color: var(--background);
    color: var(--foreground);
}

.form-check-input {
    &:checked {
        background-color: var(--primary);
        border-color: var(--primary);
    }
}

#wrapper #content-wrapper {
    background-color: var(--background-main);
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

.dashboard {
    .statistics-card {
        .card-list {
            .card-item {
                .item {
                    background-color: var(--background);
                    padding: 24px;
                    border-radius: 8px;

                    border: 1px solid var(--muted) !important;
                    cursor: pointer;

                    &:hover {
                        transform: translateY(-10px);
                        transition: all 0.1s linear;
                    }

                    .title {
                        font-size: 14px;
                        color: var(--muted-foreground);
                    }

                    .value {
                        font-size: 28px;
                        display: block;
                        color: var(--foreground);
                        margin-bottom: 6px;
                    }

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        padding: 0;
                        border-radius: 50%;
                    }

                    .icon {
                        background-color: #{$primary-500};
                        flex-shrink: 0;
                        svg {
                            width: 24px;
                            height: 24px;
                            color: var(--white);
                        }
                    }

                    .content {
                        flex-grow: 1;
                        min-width: 0;

                        @media screen and (min-width: 768px) and (max-width: 991px) {
                            .value {
                                font-size: 20px;
                            }

                            .title {
                                font-size: 12px;
                            }
                        }
                    }

                    &.primary {
                        .icon {
                            background-color: #{$primary-500};
                        }
                    }
                    &.secondary {
                        .icon {
                            background-color: #{$secondary-500};
                        }
                    }

                    &.success {
                        .icon {
                            background-color: #{$success-500};
                        }
                    }

                    &.danger {
                        .icon {
                            background-color: #{$danger-500};
                        }
                    }

                    &.warning {
                        .icon {
                            background-color: #{$warning-500};
                        }
                    }

                    &.neuture {
                        .icon {
                            background-color: #{$neuture-500};
                        }
                    }
                }
            }
        }
    }

    .statistics-chart {
        .chart-item {
            background-color: var(--background);
            padding: 24px;
            border-radius: 8px;
        }
    }

    .statistics-products {
        .title {
        }
        .product {
            background-color: var(--background);
            padding: 24px;
            min-height: 210px;
            border: 1px solid var(--muted) !important;

            &.combo {
                height: 120px;
            }

            .card-body {
                padding: 0;

                .quantity {
                    color: var(--danger);
                }
            }
        }
    }
}

.user-feedback {
    .rating-item {
        border-bottom: 1px solid var(--muted);

        .top {
            .image-user-product-fb {
                width: 50px;
                height: 50px;
            }

            .badge {
                width: fit-content;
            }

            .stars {
                .bi-star {
                    color: var(--primary);
                }
                .bi-star-fill {
                    color: var(--primary);
                }
            }
        }

        .bottom {
            span {
                font-size: 1.2rem;
                color: var(--muted-foreground);
            }
        }
    }
}

.selectLocation {
    .ts-control {
        border: none !important;
    }
}

.variant-warning {
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.modules {
    background-color: var(--muted);
    border-radius: 16px;
}

.combo {
    .accordion {
        .accordion-item {
            border-bottom: 1px solid var(--muted) !important;
        }

        .accordion-header {
            .accordion-button {
                &:not(.collapsed) {
                    color: var(--foreground);
                    background-color: var(--background);
                    box-shadow: none;
                }
                .image-product-combo {
                    height: 80px;
                    width: 80px;
                }
            }
        }

        .products {
            padding: 24px;
            .col {
                .card {
                    .image-skus {
                        width: 100%;
                        height: 150px;
                    }
                    .card-body {
                        .card-title {
                            color: var(--primary);
                            font-size: 1.4rem;
                        }

                        .card-text {
                            color: var(--muted-foreground);
                            font-size: 0.8rem;
                            text-decoration: line-through;
                        }

                        .card-quantity {
                            color: var(--secondary);
                        }
                    }
                }
            }
        }
    }
}

.tab-dashboard {
    .nav-tabs {
        .nav-item {
            .nav-link {
                color: var(--secondary);

                &.active {
                    color: var(--primary);
                }
            }
        }
    }
}

#attributes-pane {
    .accordion-item {
        border-radius: 16px;
        background-color: var(--background);
        width: 100%;
        border: 1px solid var(--muted) !important;

        .accordion-header {
            .accordion-button {
                background-color: transparent !important;
                color: var(--foreground) !important;
                border: none !important;

                // &::after {
                //     filter: brightness(0) invert(1);
                // }

                &:focus {
                    box-shadow: none !important;
                    outline: none !important;
                }

                &:not(.collapsed) {
                    background-color: transparent !important;
                    color: var(--foreground) !important;
                    box-shadow: none;
                }
            }
        }

        .accordion-collapse {
            background-color: var(--muted) !important;
            .form-select {
                background-color: transparent;
                border: none !important;

                .item {
                    font-size: 1rem;
                    padding: 3px 6px;
                }
            }
        }
    }
}

#variants-pane {
    #variant-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .accordion-item {
            background-color: var(--background);
            border: 1px solid var(--border) !important;
            border-radius: 16px;
            .accordion-button {
                border-radius: 16px;
            }
        }
    }
}

.bg-white-custom {
    background-color: var(--background);
}

.bg-dark-custom {
    background-color: var(--foreground);
}

.text-white-custom {
    color: var(--background);
}

.text-dark-custom {
    color: var(--foreground) !important;
}

.border-color {
    border-color: var(--border);
}

// component

.cke_1,
.input-text-custom {
    background-color: var(--background);
    color: var(--foreground);

    &:focus {
        background-color: var(--background);
        color: var(--foreground);
        box-shadow: none;
        border-color: var(--border);
    }

    &:disabled {
        color: var(--muted-foreground);
    }

    &::placeholder {
        color: var(--muted-foreground);
    }
}

.logo-sideBar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-table {
    width: 50px;
    height: 50px;
}

.image {
    object-fit: cover;
}

.button-custom {
    width: fit-content;

    &.btn-outline-custom {
        &:hover {
            color: var(--white) !important;
        }
    }
}

.mf-level {
    margin-left: var(--cat-depth);
}

.line-champ-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-champ-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-champ-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// custom toastr

#toast-container > .toast {
    font-size: 1.8rem;
    width: 400px;
    padding-left: 60px;

    .toast-title {
        display: block;
        font-size: 1.4rem !important;
        font-weight: 500;
        margin-bottom: 4px;
    }
    .toast-message {
        font-size: 0.9rem !important;
    }
}

.product-item-add-order {
    background-color: var(--white);
    color: var(--foreground);
    transition: all 0.1s linear;
    cursor: pointer;

    &:hover {
        background-color: var(--muted);
    }
}

.nav-tabs-product-custom {
    border-right: 1px solid var(--border);

    .nav-item {
        border: 1px solid var(--border);

        .nav-link {
            border-radius: 0;
        }
    }
}
.nav-content-product-custom {
    width: 100%;
}

.tab-content-product {
    padding: 12px;
}

.card-custom {
    .card {
        background-color: var(--background);
        border-color: var(--border);
        .card-header {
            background-color: var(--background) !important;

            border-bottom: 1px solid var(--border);

            .title {
                font-size: 1.4rem !important;
                margin: 0;
                padding: 12px 0;
                font-weight: 600 !important;
                color: var(--primary) !important;
            }

            .select-type-data-product {
                width: 220px;
            }
        }

        .card-body {
            &.padding-0 {
                padding: 0;
            }
            &.card-type-product {
                height: auto;
                min-height: 400px;
            }

            th {
                background-color: var(--background) !important;
            }

            td {
                background-color: var(--background) !important;
            }

            &.choseCategories {
                max-height: 300px;
                overflow-y: auto;

                .form-check-input {
                    &:focus {
                        border-color: var(--primary);
                        box-shadow: none;
                    }
                    &:checked {
                        background-color: var(--primary);
                        border-color: var(--primary);
                    }
                }
            }
        }
    }
}

.setting {
    .avatar-setting {
        width: 200px;
        height: 200px;
        border-radius: 100% !important;
    }
}

.accordion-item {
    border: none !important;

    .accordion-button-custom {
        background-color: transparent !important;
        color: white !important;
        border: none !important;

        // span {
        //     text-wrap: nowrap;
        // }

        &::after {
            filter: brightness(0) invert(1);
        }

        &:focus {
            box-shadow: none !important;
            outline: none !important;
        }

        &:not(.collapsed) {
            background-color: transparent !important;
            color: white !important;
            box-shadow: none;
        }
    }

    .accordion-button-custom {
        &.active {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            span {
                text-align: center;
            }

            &.text {
                text-align: center !important;
            }

            &::after {
                display: none;
            }
        }
    }

    &.no-button {
        .accordion-button-custom {
            &::after {
                display: none;
            }
        }
    }

    &.active {
        // background-color: var(--white) !important;

        .accordion-button-custom {
            span,
            i {
                color: var(--white) !important;
                font-size: 1rem;
            }

            // &::after {
            //     filter: brightness(1) invert(0);
            // }
        }
    }
}

.slider {
    width: 100%;
    height: 300px;

    &.small {
        width: 250px;
        height: 100px;
    }
}

a.sidebar-children {
    display: block;
    text-decoration: none;
    padding: 1rem 1rem;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: var(--primary) !important;
        color: white !important;
        border-radius: 5px; // Bo góc nhẹ
    }
}

#sidebar-main {
    background-color: var(--foreground);
    color: var(--background);
}

.image-cover {
    object-fit: cover;
}

// Custom DataTables Laravel
.table-dataTables {
    .dt-info {
        margin-top: 24px;
    }

    .page-item .page-link {
        color: #000000;
    }

    .page-item.active .page-link {
        background-color: var(--primary);
        color: white;
        border: 1px solid #59001f;
    }

    .page-item:hover .page-link {
        background-color: #59001f;
        color: white;
        border: 1px solid var(--primary);
    }

    table {
        margin-top: 24px;
    }

    tfoot {
        display: none;
    }

    tbody {
        tr.selected td {
            box-shadow: inset 0 0 0 9999px var(--primary) !important;
        }
    }
}

// .card.custom {
//     .card-header.custom {
//         height: 3px;

//         .select-type-data-product {
//             width: 200px;
//         }
//     }

//     .card-body.custom {
//     }
// }

//custom toast css

#toast-container > .toast {
    font-size: 1.8rem;
    width: 400px;
}

.sortable {
    cursor: grab;
}

.card-setting {
    border-radius: 16px;
}

.product-blog {
    &.active {
        background-color: var(--primary);
    }
}

.email-layout {
    #outlook a {
        padding: 0;
    }

    body {
        width: 100% !important;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        margin: 0;
        padding: 0;
        font-family: Helvetica, arial, sans-serif;
    }

    .ExternalClass {
        width: 100%;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100%;
    }

    .backgroundTable {
        margin: 0;
        padding: 0;
        width: 100% !important;
        line-height: 100% !important;
    }

    .main-temp table {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        font-family: Helvetica, arial, sans-serif;
    }

    .main-temp table td {
        border-collapse: collapse;
    }
}

#choseSkus,
#choseProducts {
    .modal-body {
        max-height: 500px;
        overflow-y: auto;
    }
}

.image-product-blog {
    width: 50px;
    height: 50px;
}

.remove-product-blog {
    background-color: var(--background);
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid var(--danger);
    color: var(--danger);
}

.cke_wysiwyg_frame,
.cke_inner {
    background-color: var(--background) !important;
    body {
        background-color: var(--background) !important;
    }
}

.description-product-blog {
    font-size: 0.8rem;
    color: var(--muted-foreground);
}

.image-sku-combo {
    width: 50px;
    height: 50px;
}

.remove-sku-combo {
    background-color: var(--background);
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid var(--danger);
    color: var(--danger);
}

.description-sku-combo {
    font-size: 0.8rem;
    color: var(--muted-foreground);
}

.image-preview-upload {
    width: 300px;
    height: 300px;
}

#thumbnails {
    .image-container {
        position: relative;
        height: 120px;
        .close-btn {
            position: absolute;
            top: 6px;
            right: 6px;
            background: var(--background);
            border-radius: 50%;
            border: .3px solid var(--border);
            color: var(--danger);
            font-size: 1.6rem;
        }
    }
}

.image-setting-banner {
    width: 100% !important;
}
